
<div class="container">
    <h1>About</h1>
    <p>This web application uses the following NPM packages and third-party libraries:</p>
    <ul>
        {{#each packages}}
            <li><strong>{{name}}</strong>: {{version}}</li>
        {{/each}}
    </ul>
</div>